.button {
  height: 55px;
  width: auto;
  border: none;
  background: $color__light;
  color: $color__tertiary;
  border-radius: $spacing--large;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 $spacing--mid;
  margin-bottom: $spacing--medium;
  transition: ease 0.2s transform,
              ease 0.2s box-shadow,
              ease 0.5s max-width;


  &--icon {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 45px;
    padding-right: 0;
    width: auto;
    max-width: 55px;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 55px;
      line-height: 52px;
      display: inline-block;
      color: $color__tertiary;
      margin-right: $spacing--small;
      font-size: 1.5rem;
      text-align: center;
    }
    span {
      opacity: 0;
      transition: ease 0.3s opacity;
      padding-right: $spacing--mid;
    }
    &.icon {
      &--add::before {
        content: "+";
      }
    }
    &:hover {
      transform: translateY(-2px);
      max-width: 160px;
      span {
        opacity: 1;
      }
    }
  }
  &--primary {
    background: $color__primary;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba($color__tertiary, 0.05) 0px 3px 25px;
  }
  &:active {
    transform: translateY(0);
    transition-duration: 0.1s;
  }
  &:focus {
    outline: none;
  }
}
