.keyboard {
  width: 80rem;
  max-width: 100%;
  padding: 0;
  margin: $spacing--large auto $spacing--huge;
  color: $color__tertiary;
  border-color: $color__tertiary;
  perspective: 1800px;
  z-index: 15;
  position: relative;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  &__keys {
    display: grid;
    padding: 0;
    margin: 0;
    overflow: visible;
    transform-style: flat;
    transform: rotateX(25deg);
    transition: ease 0.5s transform;
    transform-origin: center center;
    backface-visibility: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    color: inherit;
    background: rgba($color__white, 0.975);
    border: 3px solid;
    border-color: inherit;
    border-radius: 20px;
    &:hover {
      transform: rotateX(20deg);
    }
  }
  &__key {
    padding: $spacing--medium $spacing;
    margin: 0;
    border: solid 3px;
    border-color: inherit;
    color: inherit;
    box-sizing: border-box;
    min-height: 100px;
  }
  &__add-button {
    margin: 0 auto;
  }

  &--ghost {
  }
  &--ghost-upper {
    z-index: 20;
    margin-bottom: -12rem;
    color: $color__primary;
    border-color: $color__primary;
  }
  &--ghost-lower {
    z-index: 5;
    margin-top: -12rem;
    color: $color__primary;
    border-color: $color__primary;
  }

}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s all;
  position: static;
  cursor: grab;

  > * {
    pointer-events: none;
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  &__code {
    opacity: 0;
    visibility: hidden;
    font-weight: 600;
    font-size: 15px;
    display: none;
  }

  &:active {
    cursor: grabbing;
  }
  &:hover {
    background: $color__light;
    transition: 0s;
  }

  &--0 { border-top-left-radius: 17px; }
  &--11 { border-top-right-radius: 17px; }
  &--36 { border-bottom-left-radius: 17px; }
  &--47 { border-bottom-right-radius: 17px; }

  &--drag {
    display: block;
    position: absolute;
    text-align: center;
    width: 120px;
    height: 110px;
    background: $color__primary;
    border: 0px;
    border-radius: 15px;
    box-shadow: rgba($color__black, 0.1) 0px 5px 30px;
    z-index: 100;
    transition: 0s;
    &:hover {
      background: $color__primary;
    }
  }
}
