// Colors
$color__black: #2a274f;
$color__white: #fff;
$color__light: rgba($color__black, 0.1);

$color__primary: #f6eb9a;
$color__secondary: #5853bc;
$color__tertiary: #1c0c59;

$spacing: 1rem;
$spacing--medium: 2rem;
$spacing--large: 2.5rem;
$spacing--huge: 4rem;
$spacing--yuge: 8rem;
$spacing--small: 0.5rem;
